.projectGrid {
  margin-top: 5rem;
  display: flex;
  flex-wrap:wrap;
  &__links{
    display: flex;
    flex-wrap: wrap;
    margin-top:1rem;
  }
  &__left {
    padding: 1rem 3rem;
    max-width: 50rem;
    span {
      padding: 1rem 0;
    }
    img{
      margin-top: 1rem;
      width: 80px !important;
    }
  }
  &__flexImage {
    display: flex;
    gap:2rem;
  }
  &__bottomRight{
    margin-top:1rem;
    width: 43rem;
    img{
      min-width: 8rem;
    }
    a{
      margin: 0 2rem 0 0;
    }
    p{
      padding:1rem 2rem;
    }
  }
  &__topRight {
    box-shadow: 0px 4px 20px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 43rem;

    padding: 1rem 0;
    p {
      padding: 2rem;
    }
  }
}
