.education {
  h2 {
    margin: 5rem 10% 2rem 10%;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 10% 2rem calc(10% + 2rem);
  }

  &__description {
    max-width: 65rem;
    padding: 0.5rem 2rem 2rem;
    color: white;
    background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
    border-radius: 20px;
  }
}
