@use '../../../styles/abstracts/mixins';
.projectHeader{
    margin:15rem 0 8rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;   

    &__images{
        width:100% !important;
        display: flex;
        justify-content: space-between;

    position: absolute !important;
    }
}

.sidebubble{
    &--1{
      left: 0rem !important;
      transform: rotate(180deg);
    }
    &--2{
      right: 0rem !important;
    }
  }

  @include mixins.mobile{
    .projectHeader{
        text-align: center;
        h2{
            padding-bottom: 0.5rem;
        }
        p{
            margin-top: 1rem;
            max-width: 25rem;
        }
    }
    .sidebubble{

        
        width: 2rem !important;
        &--1{  
            left: -7rem !important;
            transform: rotate(180deg) scale(0.5);
        }
        &--2{
            right: -7rem !important;
            transform: scale(0.5) translateY(-5rem);
            // display: none !important;
        }
      }
  }