.projectHeader{
    margin:15rem 0 8rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;   

    &__images{
        width:100% !important;
        display: flex;
        justify-content: space-between;

    position: absolute !important;
    }
}

.sidebubble{
    &--1{
      left: -5rem !important;
      transform: rotate(180deg);
    }
    &--2{
      right: 0rem !important;
    }
  }